*.vo
*.vos
*.vok
*.vio
*.v.d
.coqdeps.d
.Makefile.rocq.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.coq-native/
Makefile.rocq
Makefile.rocq.conf
_RocqProject
_RocqProject.*
Makefile.package.*
.Makefile.package.*
*.crashcoqide
html/
builddep/
_opam
_build/
*.install
config/local
